<div id="<%= dom_id match_session %>">
  <p>
    <strong>Username1:</strong>
    <%= match_session.username1 %>
  </p>

  <p>
    <strong>Username2:</strong>
    <%= match_session.username2 %>
  </p>
  
  <p>
    <strong>Recommendations:</strong>
    <%= match_session.recommendations %>
  </p>

</div>
