<p style="color: green"><%= notice %></p>

<% content_for :title, "Match sessions" %>

<h1>Match sessions</h1>

<div id="match_sessions">
  <% @match_sessions.each do |match_session| %>
    <%= render match_session %>
    <p>
      <%= link_to "Show this match session", match_session %>
    </p>
  <% end %>
</div>

<%= link_to "New match session", new_match_session_path %>
